<div class="container mb-5">
	<div class="card-columns mt-5 pb-5 mx-3">
	  <div class="card border-primary" *ngFor="let productos of Products">
	  	 <div class="card-header bg-transparent border-primary">{{productos.model}}</div>
	    <img class="card-img-top" src="{{productos.img}}" alt="Card image cap">
	    <div class="card-body">
	      <h5 class="card-title">{{productos.brand}}</h5>
	      <p class="card-text">{{productos.description}}</p>
	      <p class="card-text"><small class="text-muted">${{productos.price}}</small></p>
	      <button  (click)="Navegar(productos.model)" class="btn-custom bg-custom2 btn-block">Ver mas...</button>
	    </div>
	  </div>
	</div>
</div>
