<div class="container">
	<h2 id="title">Acerca de nosotros</h2>
	<h5>ISC Codellege es un grupo de estupendos programadores con gran talento, dedicados y trabajadores, capaces de grandes cosas, han demostrado su talento y dedicación a este mundo de programación, buenos amigos y compañeros, un honor trabajar con ellos.</h5>
</div>
 <div class="d-flex justify-content-around mb-5 pb-5">
		<div class="">
			<img src="../../assets/img/About5.jpg" id="about">
			<p class="super">Diego</p>
		</div>
		<div class="">
			<img src="../../assets/img/About2.jpg" id="about">
			<p class="super">Piwi</p>
		</div>
		<div class="">
			<img src="../../assets/img/About3.jpg" id="about">
			<p class="super">Checo</p> 
		</div>
		<div class="">
			<img src="../../assets/img/About4.jpg" id="about">
			<p class="super">Felipe</p>
		</div> 
		<div class="">
			<img src="../../assets/img/About1.jpg" id="about">
			<p class="super">Axel</p>
		</div>
</div>