<nav class="navbar navbar-expand-lg navbar-dark bg-custom1 pl-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="w-100" id="navbarSupportedContent">
  	<div class="row">
  	  <a class="navbar-brand col-4 mr-0 pr-0 pl-5" href="#"><img src="../../assets/img/logo.png" class="logo"></a>
	  <form class="form-inline my-2 my-lg-0 col-8 row">
	      <input class="form-control mr-sm-2 col-7" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn-custom bg-custom2 my-2 my-sm-0 col-3" type="submit">Search</button>
	  </form>
  	</div>
  	<br>
	<div class="row">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" (click)="Navegar('SmartPhones')">Smartphones</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Cameras</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#">Electric devices</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="#">About</a>
	      </li>
	    </ul>
	</div>

  </div>
</nav>