.logo {
	width: 50%;
}
.bg-custom1 {
	background-color: #394a6d;
}
.bg-custom2 {
	background-color: #3c9d9b;
}
.bg-custom3 {
	background-color: #52de97;
}
.bg-custom4 {
	background-color: #e7e7de;
}
.btn-custom {
	background-color: #3c9d9b;
	font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.carousel-item img {
	height: 55vh;
}

footer {
	position: fixed;
	bottom: 0; 
	width: 100%;
}
.card {
	width: 40vw;
}
.card img {
	height: 40vh;
	width: 100%;
}

.nav-item a {
	cursor: pointer;
}

a {
	cursor: pointer;
}

#digital {
	position: relative;
	left: 550px;
}

#title{
	text-align: center;
	margin-top: 5px;
	font-size: 35px;
}

#about{
	height: 300px;
	width: 230px; 
}

.super {
	text-align: center;
	font-size: 25px;
	font-weight: bold; 
}

#star {
	color: black;
	z-index: 0;
	display: block;
}

.rating {
	position: absolute; 
	width: 115px;
	height: 24px; 
}

#ratingBack{
	transform-origin: right;
}

.border-custom {
	border: solid #3c9d9b 1px;
}

